# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if it's a vendor project)
# vendor/

# Go workspace file
go.work

# --- Project Specific ---

# Configuration files (SANGAT PENTING untuk keamanan)
.env
.env.local
.env.*.local

# Build result (nama binary biasanya mengikuti nama folder atau main)
worker-device-log
main

# IDE Specific
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log